* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--lavender, #c4d2f5);
}

.player audio {
  display: none;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  padding: 30px;
  gap: 30px;
  border-radius: 20px;
  background: var(--white, #ffffff);
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
  margin: 125px 0px 0px 127px;
}

.player-track-title {
  font-size: 18px;
  font-weight: 700;
}
.player-track-artist {
  color: var(--gray, #909090);
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
}
.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.player-progress {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 100%;
}

.player-progress-bar {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 3px;
  background: var(--light-gray, #f6f6ef);
  height: 6px;
}
.player-progress-inner {
  position: absolute;
  max-width: 100%;
  height: 6px;
  border-radius: 3px;
  background: var(--purple, #e783bc);
}
.player-time.current,
.player-time.total {
  color: var(--gray, #909090);
  font-size: 15px;
  font-weight: 700;
}

.player-button.play {
  display: grid;
  place-items: center;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  background: var(--purple, #e783bc);
  color: var(--play-icon);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white, #fff);
  font-size: 20px;
  font-weight: 900;
}

.player-button.pause {
  width: 74px;
  height: 74px;
  border-radius: 37px;
  background: var(--purple, #e783bc);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white, #fff);
  font-size: 20px;
  font-weight: 900;
}
